html {
    background-color: black;
    text-align: center;
    min-width: 350px;
    font-family: 'Verdana', sans-serif;
  }
  
  h1 {
    font-family: 'Verdana', cursive;
    font-size: 4em;
    font-weight: lighter;
    padding: 0px;
    margin: 0px 10px;
    display: block;
    color: white;
  }
  
  .container {
    padding: 0px;
    width: 100%;
    max-width: 800px;
    margin: auto;
    text-align: center;
  }
  
  #pomodoro {
      display: block;
    margin: 0 auto;
    position: relative;
    padding: 0px 10px;
    margin-top: 10px;
    text-align: center;
  }
  
  #status {
    color: white;
    font-size: 2em;
    animation: blinker 2s linear infinite;
  }
  
  .timerDisplay {
    color: #fff;
    font-size: 4em;
    font-weight: bold;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

  .btn {
    margin: 10px;
    padding: 8px 10px;
    color: white;
    font-size: 1em;
    cursor:pointer;
    border: 2px solid white;
  }
  
  #start-btn {
    height: 90px;
    width: 90px;
    border-radius: 50px;
    background: #4f8760;
  }
  
  .btn-settings {
    background-color: #4e4e5b;
    margin: 10px;
    border: 1px solid #4e4e5b;
    border-radius: 10px;
    padding: 2px 5px;
    min-width: 40px;
    color: white;
    font-size: 2em;
    cursor:pointer;
  }
  
  .settings {
    margin: auto;
    width: 100%;
    align-items: center;
  }
  
  #reset {
    border-radius: 50px;
    width: 90px;
    height: 90px;
    background: red;
    
  }
  
  #work, #break {
    color: #fff;
    font-weight: bold;
  } 
  
  #work p, #break p {
    color: #525252;
    padding: 5px;
  }
  
  .footer {
    padding: 20px 0;
    color: #4e4e5b;
  }
  
  @media only screen and (max-width: 400px) {
    .timerDisplay {
    font-size: 2.5em;
    }
  }